$color-background: #070707;
$color-earth: #0061ff;
$color-mars: #f9642e;
$color-jupiter: #ff9d00;
$color-saturn: #ffae00;
$color-uranus: #00d9ff;
$color-neptune: #0021ff;
$color-mercury: #ff9000;
$color-venus: #ff6600;
$color-dark-blue: rgba(40, 39, 64, .9);
$color-blur-white: rgba(255, 255, 255, .2);
$color-white: #fff;